[MESSAGES CONTROL]
disable=missing-function-docstring,
        missing-class-docstring,
        missing-module-docstring,
        invalid-name,
        too-few-public-methods,
        too-many-branches,
        too-many-boolean-expressions
